<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A demo showcasing the integration of R Shiny with Tailwind CSS, demonstrating modern web development practices in R.">
    <title>{{ app_title }}</title>    
    
    {{ headContent() }}
    {{ import_www() }}

  </head>

  <!-- the user will see any hard-coded HTML below. you can use it to set up your logged-out UI -->
  <body style="background-color: #E3A4A5;">

    <!-- Firebase login UI -->
    {{ uiOutput("login") }}

    <!-- the "protected" output hides app content behind the authorization flow. -->
    {{ uiOutput("protected") }}

  </body>

    <!-- firebase/identity provider initialization and persistence -->
    <!-- https://firebase.google.com/docs/web/alt-setup -->
    <!-- latest version requires importing as a module, this adds some complexity
           in particular, you need to add vars to window to make them available as click actions and to other templates.
           for example, instead of `var = "value"` you would use `window.var = "value"`
     -->
    <script type="module">

      import { initializeApp } from 'https://www.gstatic.com/firebasejs/11.2.0/firebase-app.js'
      import { getAuth, browserLocalPersistence } from 'https://www.gstatic.com/firebasejs/11.2.0/firebase-auth.js'
      import { ReCaptchaEnterpriseProvider } from 'https://www.gstatic.com/firebasejs/11.2.0/firebase-app-check.js'

      const config = {
        apiKey: "{{ firebase_config$apiKey }}",
        authDomain: "{{ firebase_config$authDomain }}",
      };

      window.app = initializeApp(config);
      window.auth = getAuth(app);
      window.recap_provider = new ReCaptchaEnterpriseProvider('{{ Sys.getenv("PUBLIC_RECAPTCHA_SITE_KEY") }}')
      
      window.user = null; // will need to persist this for mfa.

      auth.setPersistence(browserLocalPersistence)
        .then(() => {
          auth.onAuthStateChanged((iuser) => {
            if (iuser) {
              iuser.getIdToken().then(function (idToken) {
                Shiny.setInputValue("idToken", idToken);
                window.user = iuser;
              });
            } else {
              Shiny.setInputValue("idToken", "logout");
          }})

        })


      // putting all handlers in body to prevent them running multiple times. 
      let recaptcha_passed = false;
      Shiny.addCustomMessageHandler('recaptcha_score', function(score) {
          if(score > 0.75) {
              recaptcha_passed = true;
              newUserShow();
          } else {
              alert('Failed reCAPTCHA');
          }
      });
      // Shiny.addCustomMessageHandler('verified_user', function(true_false) {
      //     if(true_false == true && document.getElementById('mfa_phone_block')){              
      //         document.getElementById('mfa_phone_block').classList.toggle('hidden');
      //         document.getElementById('email_password_block').classList.toggle('hidden');
      //         document.getElementById('loginWithGoogle').classList.toggle('hidden'); 
      //         document.getElementById('forgot_register_block').classList.toggle('hidden'); 
      //         document.getElementById('signin').classList.toggle('hidden');
      //     }
      // });

    </script>
  
</html>